[Unit]
Description=Forward public connections to DDEV port %i

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:%i
DynamicUser=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
Restart=on-failure
